@use "sass:map";
@use "@/styles/tokens/breakpoints" as bp;

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;

  background: var(--color-bg-app);
  color: var(--color-text);
  padding-bottom: var(--layout-footer-height);
}

.body {
  flex: 1;
  display: flex;
  min-height: 0;
  padding-top: var(--layout-vertical-offset);
}

.page {
	display: grid;
	gap: 1.5rem;
  max-width: map.get(bp.$breakpoints, xl);
  width: 100%;
  margin: 0 auto;

	@include bp.up(md) {
		gap: 2rem;
	}
}

.main {
  display: flex;
  flex-direction: column;
  height: var(--layout-content-height);
  overflow: auto;

  margin-top: var(--layout-vertical-offset);
  padding: calc(var(--layout-gap) * 2);

  border-radius: var(--layout-radius);

  transition: var(--layout-transition);
  margin-inline-start: var(--layout-main-inline-offset);
}

@include bp.down(md) {
  .main {
    margin-inline-start: 0;
    transform: none;
  }

  [data-sidebar-state='open']:before {
    position: absolute;
    content: '';
    inset: 0;
    background: oklch(0 0 0 / 0.45);
    z-index: 150;
    backdrop-filter: blur(3.3px);
    animation: backdropIn 0.3s ease forwards;
  }
}

@keyframes backdropIn {
  from {
    background: oklch(0 0 0 / 0);
    backdrop-filter: blur(0);
  }

  to {
    background: oklch(0 0 0 / 0.45);
    backdrop-filter: blur(3px);
  }
}