:root {
  /* === Core measurements === */
  --layout-unit: 8px;

  --layout-header-height: calc(var(--layout-unit) * 8); // 64px
  --layout-footer-height: calc(var(--layout-unit) * 5); // 40px

  --layout-sidebar-width-default: calc(var(--layout-unit) * 32); // 256px
  --layout-sidebar-width: var(--layout-sidebar-width-default);
  --layout-sidebar-icon-width: calc(var(--layout-unit) * 6); // 48px
  --layout-main-left: calc(var(--layout-sidebar-width) + var(--layout-gap)); // 272px

  --layout-gap: calc(var(--layout-unit) * 2); // 16px
  --layout-radius: calc(var(--layout-unit) * 3); // 24px

  --layout-hamburger-top: calc(var(--layout-unit) * 3.5); // 36px
  --layout-hamburger-left: calc(var(--layout-unit) * 2.5); // 28px
  --layout-hamburger-size: calc(var(--layout-unit) * 5); // 24px

  --layout-box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;

  --layout-transform: translateX(0);

  /* === Derived values (THE MATH) === */
  --layout-vertical-offset: calc(var(--layout-gap) + var(--layout-header-height));

  --layout-content-height: calc(100vh - var(--layout-header-height) - var(--layout-footer-height) - var(--layout-gap) * 2);

  /* === Motion === */
  --layout-transition-time: 0.25s;
  --layout-transition-type: cubic-bezier(.22, .61, .36, 1);
  --layout-transition: var(--layout-transition-time) var(--layout-transition-type);
}

[data-sidebar-state='closed'] {
  --layout-main-left: 0;
  --layout-transform: translateX(calc(-100% - var(--layout-gap)));
}

[data-sidebar-state='icon'] {
  --layout-sidebar-width: var(--layout-sidebar-icon-width);
  --layout-main-left: calc(var(--layout-sidebar-icon-width) + var(--layout-gap));
}

[data-sidebar-prev='icon'][data-sidebar-state='closed'] {
  --layout-sidebar-width: var(--layout-sidebar-icon-width);
}

[data-sidebar-prev='open'][data-sidebar-state='closed'] {
  --layout-sidebar-width: var(--layout-sidebar-width-default);
}

[data-sidebar-prev="closed"][data-sidebar-state='open'] {
  --layout-sidebar-width: var(--layout-sidebar-width-default);
}