.root {
  position: fixed;
  top: var(--layout-gap);
  left: var(--layout-gap);

  width: var(--layout-sidebar-width);
  height: calc(100vh - var(--layout-gap) * 2);

  border-radius: var(--layout-radius);

  background: var(--color-sidebar-bg);
  color: var(--color-sidebar-text);

  transform: var(--layout-transform);
  transition: var(--layout-transition) all;
  z-index: 200;

  box-shadow: var(--layout-box-shadow);

  display: flex;
  flex-direction: column;

  overflow: hidden;
}

.nav {
  padding: var(--layout-gap);
  height: 100%;
  overflow-y: auto;
}

.header {
  height: var(--layout-header-height);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: var(--layout-gap) var(--layout-hamburger-size);
  flex-shrink: 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    width: calc(100% - 2 * var(--layout-gap));
    height: 2px;
    background: var(--color-sidebar-border);
    transition: background var(--layout-transition);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.logo {
  font-size: 14px;
  font-weight: 600;

  color: var(--color-accent-text);
  background: linear-gradient(135deg,
      var(--color-accent-soft),
      var(--color-accent-contrast));

  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  text-align: center;
  justify-content: center;
}

.list,
.subList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--layout-unit);
  padding-left: var(--layout-gap);
}

.subList {
  padding-left: var(--layout-gap);
}

.item {
  cursor: pointer;
  user-select: none;
  gap: var(--layout-unit);
  display: flex;
  flex-direction: column;
}

.itemContent {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px var(--layout-gap);
  height: var(--layout-sidebar-icon-width);
  border-radius: 6px;

  &:hover {
    background: var(--color-accent-soft);
  }

  svg {
    min-width: 22px;
  }

  &.active {
    // background: var(--color-accent-soft);

    .label {
      color: var(--color-accent-text);
      font-weight: 500;
    }

    svg {
      color: var(--color-accent);
    }
  }
}

.label {
  flex: 1;
  padding: 6px 8px;
  border-radius: 4px;
  font-size: 14px;
  color: var(--color-sidebar-text);
}

.section {
  font-size: 12px;
  letter-spacing: 0.04em;
  margin-top: var(--layout-gap);
  padding-left: var(--layout-unit);
  color: var(--color-sidebar-text-muted);
  position: relative;
}

.chevron {
  margin-left: auto;
  transition: transform var(--layout-transition);
}

.chevronOpen {
  transform: rotate(180deg);
}

.groupBody {
  display: grid;
  grid-template-rows: 0fr;
}

.groupBody>ul {
  overflow: hidden;
}

.groupOpen {
  grid-template-rows: 1fr;
}

.hamburger {
  cursor: pointer;
  top: var(--layout-hamburger-top);
  left: var(--layout-hamburger-left);
  z-index: 400;
  width: var(--layout-hamburger-size);
  stroke: var(--color-text);
  position: fixed;
  background: transparent;
  height: var(--layout-hamburger-size);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border: none;
}

[data-sidebar-state='icon'] .root,
[data-sidebar-prev="open"][data-sidebar-state='icon'] .root,
[data-sidebar-prev="icon"][data-sidebar-state='closed'] .root {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  background: transparent;
  box-shadow: none;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }

  &:-webkit-scrollbar-thumb:hover {
    background-color: transparent;
  }

  .header {
    padding: 0;
  }

  .nav {
    transition: var(--layout-transition) padding;
    padding: var(--layout-gap) 0;
  }

  .list {
    z-index: 2;
  }

  .logo {
    display: none;
  }

  .section {
    padding: 0;
    color: transparent;

    &:before {
      content: "";
      width: calc(3 * var(--layout-gap));
      background: var(--color-sidebar-border);
      height: 2px;
      transition: background var(--layout-transition);
      position: absolute;
      bottom: 0;
      top: 0;
      margin: auto;
    }

    &:first-child {
      &:before {
        display: none;
      }

    }
  }

  .itemContent {
    transition: var(--layout-transition) all;
    padding: 4px calc(var(--layout-gap) * 0.75);
    background: var(--color-sidebar-bg);
    border-radius: var(--layout-sidebar-icon-width);
    box-shadow: var(--layout-icon-box-shadow);
    width: fit-content;

    .label {
      display: none;
    }
  }

  .chevron {
    display: none;
  }
}

[data-sidebar-prev="closed"][data-sidebar-state='open'] .root {
  transition: var(--layout-transition) transform;
}