.root {
  position: fixed;
  top: var(--layout-gap);
  left: var(--layout-gap);
  right: var(--layout-gap);

  height: var(--layout-header-height);
  border: 1px solid #999;
  border-radius: var(--layout-radius);

  display: flex;
  align-items: center;
  padding: 0 var(--layout-gap);
  background: #fafafa;

  transition: var(--layout-transition);
  z-index: 100;
}

.sidebarOpen {
  margin-left: calc(
    var(--layout-sidebar-width) + var(--layout-gap)
  );
}

@media (max-width: 768px) {
  .sidebarOpen {
    margin-left: 0;
    transform: none;
  }
}

.button {
  background: none;
  cursor: pointer;
  font-size: 16px;
}