.root {
  position: fixed;
  top: var(--layout-gap);
  left: var(--layout-gap);
  right: var(--layout-gap);

  height: var(--layout-header-height);
  border-radius: 0;

  display: flex;
  align-items: center;
  color: var(--color-text);

  transition: var(--layout-transition);
  z-index: 100;

  margin-left: var(--layout-main-left);

  &:before {
    content: '';
    position: absolute;
    width: calc(100% - 2 * var(--layout-gap));
    height: 2px;
    background: var(--color-sidebar-border);
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .root {
    margin-left: 0;
  }
}

.inner {
  flex-grow: 1;
  padding: 0 var(--layout-gap);
  display: flex;
  align-items: center;
  transition: var(--layout-transition) padding;
}

[data-sidebar-state='closed'] .inner {
  padding: var(--layout-gap) calc(var(--layout-gap) + var(--layout-hamburger-size));
}

.button {
  background: none;
  cursor: pointer;
  font-size: 16px;
}