:root[data-theme="dark"] {
  --color-bg-app: var(--base-950);
  --color-bg-card: var(--base-900);
  --color-bg-elevated: var(--base-800);
  --color-bg-glass: rgba(0, 0, 0, 0.2);

  
  --color-bg-surface: var(--base-950);
  --color-bg-surface-active: var(--base-900);
  --color-bg-subtle: var(--base-800);
  --color-bg-subtle-active: var(--base-900);

  /* Text */
  --color-text: var(--base-100);
  --color-text-soft: var(--base-300);
  --color-text-muted: var(--base-400);
  --color-text-disabled: var(--base-500);
  --color-text-inverse: var(--base-900);
  --color-text-primary: var(--color-text);
  --color-text-secondary: var(--color-text-soft);

  /* Borders */
  --color-border: var(--base-800);
  --color-border-soft: var(--base-900);
  --color-border-strong: var(--base-700);

  /* Sidebar */
  --color-sidebar-bg: var(--base-900);
  --color-sidebar-bg-hover: var(--base-800);
  --color-sidebar-text: var(--base-100);
  --color-sidebar-text-muted: var(--base-400);
  --color-sidebar-border: var(--base-800);

  /* Header */
  --color-header-bg: var(--base-900);
  --color-header-border: var(--base-800);

  /* States */
  --color-focus-ring: var(--base-500);
  --color-hover-overlay: oklch(1 0 0 / 0.04);
  --color-active-overlay: oklch(1 0 0 / 0.08);

  --color-disabled-bg: var(--base-800);
  --color-disabled-text: var(--base-500);

  --color-success: oklch(0.723 0.219 149.579);
  --color-warning: oklch(0.769 0.188 70.08);
  --color-danger: oklch(0.637 0.237 25.331);
  --color-info: oklch(0.681 0.219 257.829);

  --color-success-bg: oklch(0.266 0.065 152.934);
  --color-warning-bg: oklch(0.279 0.077 45.635);
  --color-danger-bg: oklch(0.258 0.092 26.042);
  --color-info-bg: oklch(0.265 0.066 257.418);

  --color-success-text: oklch(0.905 0.093 164.15);
  --color-warning-text: oklch(0.924 0.12 95.746);
  --color-danger-text: oklch(0.885 0.062 18.334);
  --color-info-text: oklch(0.899 0.094 258.334);

  --color-accent: var(--primary-600);
  --color-accent-hover: var(--primary-950);
  --color-accent-soft: var(--primary-900);
  --color-accent-dark: var(--primary-300);
  --color-accent-muted: var(--primary-700);
  --color-accent-text: var(--primary-300);
  --color-accent-contrast: var(--color-white);
  --color-accent-inverse: var(--primary-100);

  --color-backdrop: oklch(0 0 0 / 0.55);
  --color-backdrop-transparent: oklch(0 0 0 / 0);
  --color-overlay-soft: oklch(1 0 0 / 0.15);

  /* Shadows */
  --card-shadow: 0 0 0 1px var(--base-800);
  --layout-box-shadow: 0 0 0 1px var(--base-800);
  --icon-shadow: 0 0 0 1px var(--base-800);
  --tab-inner-shadow: inset 3px 3px 6px #0000006c, inset -2px -2px 8px var(--base-950);
  --tab-slider-shadow: rgba(0, 0, 0, 0.205) 0px 1px 4px;
}