:root {
  --base-50:  var(--color-slate-50);
  --base-100: var(--color-slate-100);
  --base-200: var(--color-slate-200);
  --base-300: var(--color-slate-300);
  --base-400: var(--color-slate-400);
  --base-500: var(--color-slate-500);
  --base-600: var(--color-slate-600);
  --base-700: var(--color-slate-700);
  --base-800: var(--color-slate-800);
  --base-900: var(--color-slate-900);
  --base-950: var(--color-slate-950);
}

:root[data-palette='slate'] {
  --base-50:  var(--color-slate-50);
  --base-100: var(--color-slate-100);
  --base-200: var(--color-slate-200);
  --base-300: var(--color-slate-300);
  --base-400: var(--color-slate-400);
  --base-500: var(--color-slate-500);
  --base-600: var(--color-slate-600);
  --base-700: var(--color-slate-700);
  --base-800: var(--color-slate-800);
  --base-900: var(--color-slate-900);
  --base-950: var(--color-slate-950);
}

:root[data-palette='gray'] {
  --base-50:  var(--color-gray-50);
  --base-100: var(--color-gray-100);
  --base-200: var(--color-gray-200);
  --base-300: var(--color-gray-300);
  --base-400: var(--color-gray-400);
  --base-500: var(--color-gray-500);
  --base-600: var(--color-gray-600);
  --base-700: var(--color-gray-700);
  --base-800: var(--color-gray-800);
  --base-900: var(--color-gray-900);
  --base-950: var(--color-gray-950);
}

:root[data-palette='zinc'] {
  --base-50:  var(--color-zinc-50);
  --base-100: var(--color-zinc-100);
  --base-200: var(--color-zinc-200);
  --base-300: var(--color-zinc-300);
  --base-400: var(--color-zinc-400);
  --base-500: var(--color-zinc-500);
  --base-600: var(--color-zinc-600);
  --base-700: var(--color-zinc-700);
  --base-800: var(--color-zinc-800);
  --base-900: var(--color-zinc-900);
  --base-950: var(--color-zinc-950);
}

:root[data-palette='neutral'] {
  --base-50:  var(--color-neutral-50);
  --base-100: var(--color-neutral-100);
  --base-200: var(--color-neutral-200);
  --base-300: var(--color-neutral-300);
  --base-400: var(--color-neutral-400);
  --base-500: var(--color-neutral-500);
  --base-600: var(--color-neutral-600);
  --base-700: var(--color-neutral-700);
  --base-800: var(--color-neutral-800);
  --base-900: var(--color-neutral-900);
  --base-950: var(--color-neutral-950);
}

:root[data-palette='stone'] {
  --base-50:  var(--color-stone-50);
  --base-100: var(--color-stone-100);
  --base-200: var(--color-stone-200);
  --base-300: var(--color-stone-300);
  --base-400: var(--color-stone-400);
  --base-500: var(--color-stone-500);
  --base-600: var(--color-stone-600);
  --base-700: var(--color-stone-700);
  --base-800: var(--color-stone-800);
  --base-900: var(--color-stone-900);
  --base-950: var(--color-stone-950);
}